---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';
import Button from '~/components/ui/Button.astro';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData} isSticky showToggleTheme />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="CVPR 2023 Workshop"
    actions={[
      { variant: 'primary', text: 'Get Started', href: '#features' },
      { text: 'Learn more', href: '#features' },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="">End-to-End Autonomous Driving:</span><br /> Emerging Tasks and Challenges
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <span class="font-semibold">corporis</span>consequuntur
        nihil vitae voluptate</span
      >
      Quas natus laborum neque nemo quasi aliquam similique sint, veritatis expedita optio ex , voluptatem consequatur soluta
      enim!
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    id="Overview"
    items={[
      {
        title: 'Welcome to the CVPR 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2">
        Overview<br />
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content id="Schedule">
    <Fragment slot="content">
      <h3 class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2 text-center">
        Schedule<br />
      </h3>
      <div class="container mx-auto px-4 py-8">
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Time
                      </th>
                      <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Speaker
                      </th>
                      <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Theme
                      </th>
                      <th
                        scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                      >
                        Content
                      </th>
                    </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                    <!-- Rows will go here -->
                    <tr>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> 9:00, Jun 18 </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> Ziwei Liu </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> Welcome and Opening Remarks </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        <Button variant="link" href={'/'}>Link</Button>
                      </td>
                    </tr>
                    <!-- Repeat for more rows as needed -->
                    <tr>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> 9:00, Jun 18 </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> Ziwei Liu </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> Welcome and Opening Remarks </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        <Button variant="link" href={'/'}>Link</Button>
                      </td>
                    </tr><tr>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> 9:00, Jun 18 </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> Ziwei Liu </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> Welcome and Opening Remarks </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        <Button variant="link" href={'/'}>Link</Button>
                      </td>
                    </tr><tr>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> 9:00, Jun 18 </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> Ziwei Liu </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> Welcome and Opening Remarks </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        <Button variant="link" href={'/'}>Link</Button>
                      </td>
                    </tr><tr>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> 9:00, Jun 18 </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> Ziwei Liu </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        MultiModal Perception of the 4D World for Autonomous Navigation: Flexible Maps, Fusion, and
                        Forecasting
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        <Button variant="link" href={'/'}>Link</Button>
                      </td>
                    </tr><tr>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> 9:00, Jun 18 </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"> Ziwei Liu </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        <div class="font-bold">OpenLane Topology Challenge</div>
                        <ul class="list-disc pl-5">
                          <!-- 小标题 -->
                          <li>Introduction (10 min)</li>
                          <li>Innovation Award: PlatypusWhisperers (5 min)</li>
                          <li>Honorable Runner-up: Victory (5 min)</li>
                          <li>Outstanding Champion: MFV (5 min)</li>
                        </ul>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                          <Button variant="link" href={'/'}>Link</Button>
                        </td>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Fragment>
  </Content>

  <!-- Brands Widget ****************** -->

  <Brands
    id="Speakers"
    title="Speakers"
    icons={[]}
    images={[
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
    ]}
    ><Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment></Brands
  >
  <!-- Content Widget **************** -->

  <Content
    id="Challenges"
    columns={4}
    items={[
      {
        title: 'Welcome to the CVPR 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
      {
        title: 'Welcome to the CVPR 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
      {
        title: 'Welcome to the CVPR 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
      {
        title: 'Welcome to the CVPR 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
    ]}
  >
    <Fragment slot="content">
      <h3 class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2">
        Challenges<br /><span class="text-2xl">Converting visitors into customers</span>
      </h3>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae dolore atque facilis aliquam corrupti adipisci quam,
      ex laboriosam perferendis quis, iste soluta minus obcaecati nesciunt fugit debitis, laborum est sapiente.
    </Fragment>
  </Content>
  <!-- Brands Widget ****************** -->

  <Brands
    id="Organizers"
    title="Organizers"
    icons={[]}
    images={[
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
    ]}
    ><Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment></Brands
  >

  <!-- Brands Widget ****************** -->

  <Brands
    id="Steering-Committee"
    title="Steering Committee"
    icons={[]}
    images={[
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias laboriosam ',
        description: 'aliquam officiis nulla consectetur',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias laboriosam ',
        description: 'aliquam officiis nulla consectetur',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias laboriosam ',
        description: 'aliquam officiis nulla consectetur',
        icon: 'tabler:help-octagon',
      },
      {
        title: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias laboriosam ',
        description: 'aliquam officiis nulla consectetur',
        icon: 'tabler:help-octagon',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
</Layout>
