---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Content from '~/components/widgets/Content.astro';

import { headerData } from '~/navigation';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';
import Timezone from '~/components/widgets/Timezone.astro';

const metadata = {
  title: 'Home',
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header {...headerData} isSticky />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero2
    tagline="ICML-TiFA 2023 Workshop"
    actions={[
      { variant: 'primary', text: 'Get Started', href: '#features' },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      <span class="">End-to-End Autonomous Driving:</span><br /> Emerging Tasks and
      Challenges
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. <span
          class="font-semibold">corporis</span
        >consequuntur nihil vitae voluptate</span
      >
      Quas natus laborum neque nemo quasi aliquam similique sint, veritatis expedita
      optio ex , voluptatem consequatur soluta enim!
    </Fragment>
  </Hero2>

  <!-- Content Widget **************** -->

  <Content
    id="Overview"
    items={[
      {
        title:
          'Welcome to the ICML-TiFA 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
    ]}
  >
    <Fragment slot="content">
      <h3
        class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2"
      >
        Overview<br />
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content id="Schedule">
    <Fragment slot="content">
      <h3
        class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2 text-center"
      >
        Schedule<br />
      </h3>
      <Timezone
        items={[
          {
            time: '2023-11-12T17:00:00',
            theme: {
              title: 'OpenLane Topology Challenge',
              subtitles: [
                'Introduction (10 min)',
                'Innovation Award: PlatypusWhisperers (5 min)',
                'Honorable Runner-up: Victory (5 min)',
              ],
            },
            Speaker: 'Ziwei Liu',
            institution: 'XPENG, China',
            logoSrc: '/workshop-astro-demo/avatar.png',
            link: 'https://www.youtube.com/watch?v=yDcxTYo-fT8&list=PL3N9otbGBVLc3jdm6yrPtCWdE7C8AsNAy&index=1',
          },
          {
            time: '2023-10-12T22:00:00',
            theme: {
              title: 'OpenLane Topology Challenge',
              subtitles: [
                'Introduction (10 min)',
                'Innovation Award: PlatypusWhisperers (5 min)',
                'Honorable Runner-up: Victory (5 min)',
              ],
            },
            Speaker: 'Ziwei Liu',
            institution: 'XPENG, China',
            logoSrc: '/avatar.png',
            link: 'https://www.youtube.com/watch?v=yDcxTYo-fT8&list=PL3N9otbGBVLc3jdm6yrPtCWdE7C8AsNAy&index=1',
          },
        ]}
      />
    </Fragment>
  </Content>

  <!-- Brands Widget ****************** -->

  <Brands
    id="Speakers"
    title="Speakers"
    icons={[]}
    images={[
      {
        src: '/workshop-astro-demo/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
    ]}
    ><Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment></Brands
  >
  <!-- Content Widget **************** -->

  <Content
    id="Challenges"
    columns={4}
    items={[
      {
        title:
          'Welcome to the ICML-TiFA 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
      {
        title:
          'Welcome to the ICML-TiFA 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
      {
        title:
          'Welcome to the ICML-TiFA 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
      {
        title:
          'Welcome to the ICML-TiFA 2023 Workshop on End-to-End Autonomous Driving!',
        description: `This workshop aims to bring together leading researchers and practitioners to discuss upcoming paradigms for autonomous vehicles. Central to the program is a series of invited talks and four new challenges in the self-driving domain. Each challenge combines new perspectives of multiple components in perception and planning compared to conventional pipelines. Winners of the challenges will present their results and insights as part of the workshop. We invite researchers around the world to build new algorithms to tackle these challenging, real-world autonomous driving tasks!`,
      },
    ]}
  >
    <Fragment slot="content">
      <h3
        class="text-3xl font-bold tracking-tight dark:text-white sm:text-4xl mb-2"
      >
        Challenges<br /><span class="text-2xl"
          >Converting visitors into customers</span
        >
      </h3>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae dolore atque
      facilis aliquam corrupti adipisci quam, ex laboriosam perferendis quis, iste
      soluta minus obcaecati nesciunt fugit debitis, laborum est sapiente.
    </Fragment>
  </Content>
  <!-- Brands Widget ****************** -->

  <Brands
    id="Organizers"
    title="Organizers"
    icons={[]}
    images={[
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
    ]}
    ><Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment></Brands
  >

  <!-- Brands Widget ****************** -->

  <Brands
    id="Steering-Committee"
    title="Steering Committee"
    icons={[]}
    images={[
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
      {
        src: '/avatar.png',
        alt: 'avatar',
        name: 'Li Chen',
        university: 'UIUC',
      },
    ]}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    items={[
      {
        title:
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias laboriosam ',
        description: 'aliquam officiis nulla consectetur',
        icon: 'tabler:help-octagon',
      },
      {
        title:
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias laboriosam ',
        description: 'aliquam officiis nulla consectetur',
        icon: 'tabler:help-octagon',
      },
      {
        title:
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias laboriosam ',
        description: 'aliquam officiis nulla consectetur',
        icon: 'tabler:help-octagon',
      },
      {
        title:
          'Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus molestias laboriosam ',
        description: 'aliquam officiis nulla consectetur',
        icon: 'tabler:help-octagon',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>
</Layout>
